body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
    color: #333;

  font-style: oblique;
}

.header {
  margin-bottom: 20px;
 
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-style: oblique;
}

 

.section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  background-color: #c6cbc7;
  border: none;
  color: white;
  padding: 20px;
  margin: 5px;
  width: 80px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c6cbc7;
}

.code-container {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  max-width: 80%;
  overflow: auto;
}

code {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
 
}
.side-imag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px; /* تعديل الحجم حسب الحاجة */
  height: auto;
  z-index: 10; 
}
/* تنسيق الصورة في الزاوية العلوية اليسرى */
.side-image {
  position: absolute;
  top: 10px;
   left: 10px;
  width: 170px; /* تعديل الحجم حسب الحاجة */
  height: auto;
  z-index: 10; 
}
body{margin: 0;
background: url(https://i.postimg.cc/kMjQmkjk/Sakaka-1.jpg)no-repeat center center fixed;
background-size: cover;
}
