body {
  font-family: Arial, sans-serif; /* نوع الخط للنصوص */
  margin: 0; /* إزالة الهوامش الافتراضية */
  padding: 0; /* إزالة الحشوات الافتراضية */
  background-color: white; /* خلفية بيضاء للصفحة */
}

.container {
  display: flex; /* استخدام Flexbox لترتيب المحتوى */
  flex-direction: column; /* ترتيب المحتوى عموديًا */
  align-items: center; /* محاذاة العناصر للوسط أفقيًا */
  padding: 20px; /* مسافة داخلية حول المحتوى */
  color: #e9e7e7; /* لون النص */
  justify-content: center; /* محاذاة المحتوى للوسط عموديًا */
  font-style: oblique; /* جعل النص مائل */
  margin-top: 50px;
}

.header h1 {
  font-size: 24px; /* حجم الخط */
  font-weight: bold; /* جعل النص عريض */
  color: #e9e7e7; /* لون النص */
  font-style: oblique; /* جعل النص مائل */
  margin-top: 50px;
}
 

.button {
  background-color: #c6cbc7; /* لون خلفية الزر */
  border: none; /* بدون حدود */
  color: white; /* لون النص في الزر */
  padding: 20px; /* حجم المسافة داخل الزر */
  margin: 5px; /* مسافة بين الأزرار */
  width: 80px; /* عرض الزر */
  text-align: center; /* محاذاة النص داخل الزر للوسط */
  font-weight: bold; /* جعل النص عريض */
  cursor: pointer; /* تغيير المؤشر عند المرور على الزر */
  border-radius: 5px; /* حواف مستديرة */
  transition: background-color 0.3s; /* تأثير تغيير اللون */
    border-radius: 30px; /* جعل الزر ذو حواف مستديرة */

}
.side-imag {
  position: absolute; /* تحديد موضع ثابت بالنسبة للصفحة */
  top: 10px; /* إزاحة من الأعلى */
  right: 10px; /* إزاحة من اليمين */
  width: 250px; /* عرض الصورة */
  height: auto; /* الارتفاع تلقائي */
  z-index: 10; /* جعل الصورة فوق باقي العناصر */
}

.side-image {
  position: absolute; /* تحديد موضع ثابت بالنسبة للصفحة */
  top: 10px; /* إزاحة من الأعلى */
  left: 10px; /* إزاحة من اليسار */
  width: 170px; /* عرض الصورة */
  height: auto; /* الارتفاع تلقائي */
  z-index: 10; /* جعل الصورة فوق باقي العناصر */
}

body {
  margin: 0; /* إزالة الهوامش الافتراضية */
  background: url(https://i.postimg.cc/kMjQmkjk/Sakaka-1.jpg) no-repeat center center fixed; /* وضع صورة خلفية ثابتة ومتمركزة */
  background-size: cover; /* جعل الخلفية تغطي كامل الصفحة */
}
